@import url("setup.css");
.buisness.header {
  background-color: #5669FF;
}
.buisness .header__name {
  color: #FFFFFF;
}
.buisness .header__form i {
  color: #FFFFFF;
}
.buisness .header__form #header__info {
  background-color: #FFFFFF;
  color: #222222;
  border: none;
}
.buisness .header__form #header__info:hover {
  background-color: #FFFFFF;
  border: none;
  color: #5669FF;
}

.header__container {
  padding-top: 1rem;
  display: flex;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header__nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.header__logo {
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.header__logo img {
  max-width: 100%;
  height: 50px;
}

.header__name {
  color: #5669FF;
  text-transform: lowercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
  justify-content: space-between;
  align-items: center;
}

.menu__item .menu__link {
  font-weight: 400;
  font-size: 1.25rem;
}

.menu__link:hover {
  color: #5669FF;
  text-decoration: underline;
}

#CmdMenuClose, #CmdMenu, #fermerMenu {
  cursor: pointer;
}

.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.header__form i {
  color: #222222;
}

.header__connexion {
  line-height: normal;
  padding: 0.6rem;
  border-radius: 0.625rem;
  border: 1px solid #222;
  font-weight: 400;
}

.header__connexion, #header__info {
  cursor: pointer;
}

.header__connexion:hover, #header__info:hover {
  border: 1px solid #5669FF;
  background-color: #5669FF;
  color: #FFFFFF;
}

.header__form i {
  font-size: 1.5rem !important;
  color: #222222;
}

@media (max-width: 900.98px) {
  .menu__item .menu__link,
  .header__connexion a, .user__info p {
    font-size: 1rem;
  }
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__name {
    width: -moz-min-content;
    width: min-content;
  }
}
@media (max-width: 767.98px) {
  #LeMenu {
    display: none;
  }
  .menu__item .menu__link,
  .header__connexion a, .user__info p {
    font-size: 0.75rem;
  }
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__logo img {
    height: 40px;
  }
  .header__name {
    font-size: 0.75rem;
  }
  .header__connexion, #header__info {
    padding: 3px 10px !important;
  }
  .user__photo {
    display: none;
  }
  .header__logo .header__name {
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
  }
  .header__logo img {
    height: 30px;
  }
  .header__logo {
    display: block;
  }
  .header__nav {
    align-items: initial;
  }
}
.hide {
  display: none;
}

@media (max-width: 570.98px) {
  .header__form {
    display: none;
  }
  .header__form {
    display: inline;
  }
  #CmdMenuClose, #CmdMenu, #fermerMenu {
    display: none;
  }
  .hide {
    display: inline;
  }
}
#CmdMenuClose {
  display: none;
}

@media (max-width: 530px) {
  #LeMenu {
    display: none;
  }
  .menu__item .menu__link {
    padding: 0.3125rem;
  }
  .header__logo .header__name {
    font-size: 1.25rem;
    letter-spacing: 3px;
  }
  .menu__list {
    flex-direction: column;
  }
  #CmdMenu, #CmdMenuClose {
    height: 20px;
    z-index: 100;
  }
  .menu__item {
    display: none;
  }
  .menu__item {
    display: initial;
  }
  .menu__item.hide {
    width: 100%;
    display: inline;
  }
  .card__reserv {
    gap: 0rem;
  }
}
@media (min-width: 769px) {
  #CmdMenu {
    display: none;
  }
}
#header__info {
  border: 1px solid #222222;
  border-radius: 0.625rem;
  padding: 0.5rem;
}

.user__info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user__photo {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__down {
  width: 10px !important;
  height: 10px !important;
  margin-left: 5px;
}

.header__connexion img {
  border-radius: 50%;
  max-width: 30px;
  width: 100%;
  height: auto;
}

#menu-user {
  z-index: 100;
  display: none;
  position: absolute;
  top: 70px;
  right: 2rem;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  background: #FFF;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #878787;
  box-shadow: 4px 4px 16px 0px rgba(18, 18, 18, 0.06);
}

#menu-user .menu__item .menu__link {
  font-weight: 400;
  font-size: 1.25rem;
}

#fermerMenu {
  height: 20px;
  z-index: 100;
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 767.98px) {
  #menu-user {
    top: 50px;
    padding: 0.8rem;
    right: 1rem;
  }
  #menu-user .menu__item .menu__link {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: normal;
  }
  #fermerMenu {
    height: 15px;
    top: 15px;
  }
  header {
    padding: 1rem;
  }
}
header.buisness .header__connexion {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
header.buisness .header__form a i {
  color: #FFFFFF;
}

.header {
  margin-bottom: 0px;
}/*# sourceMappingURL=header.css.map */