@import url("setup.css");
div.main__container.logements {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
div.main__container.logements h1 {
  font-size: 2.25rem;
}
div.main__container.logements > div.titreLogement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
div.main__container.logements > div.titreLogement > div:first-child {
  align-items: center;
  display: flex;
  gap: 2.5rem;
}
div.main__container.logements > div.titreLogement > div:first-child img {
  width: 1.5rem;
  height: 1.5rem;
}
div.main__container.logements > div.titreLogement > a.ajouter {
  display: flex;
  align-items: center;
  background-color: #5669ff;
  border-radius: 20px;
  padding: 0.625rem 1.25rem;
  gap: 0.625rem;
  font-size: 1.25rem;
  color: #ffffff;
}

.mes__reserv__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.mes__reserv__empty h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #878787;
  text-align: center;
}

.card_logement {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
}
.card_logement > div.card_main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card_logement > div.card_main > div.info_logement {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.875rem;
}
.card_logement > div.card_main > div.info_logement > img {
  width: 17rem;
  max-width: 17rem;
  min-width: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 12.5rem;
  max-height: 12.5rem;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo {
  display: flex;
  width: 100%;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.detaille_logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  width: 100%;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.detaille_logement > div.conteneur_info {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 80%;
  flex-shrink: 0;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.detaille_logement > div.conteneur_info > p.titre_logement {
  font-size: 1.5rem;
  font-weight: 600;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.actions {
  display: flex;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.actions > div.edit {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background: #69c6fa;
  align-self: center;
}
.card_logement > div.card_main > div.info_logement > div.actionInfo > div.actions > div.edit > a > img {
  width: 25px;
}

.actifInactif {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  color: #ffffff;
}

.Actif,
.Inactif {
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  align-items: center;
  gap: 0.625rem;
  border-radius: 20px;
  width: 6rem;
  height: 3rem;
}

.Actif {
  background: #79da7d;
}

.Inactif {
  background: #ff6258;
}

@media (max-width: 991.98px) {
  .conteneur_info {
    flex-direction: column !important;
  }
}
@media (max-width: 750px) {
  .actions {
    gap: 1.875rem;
  }
  .actionInfo {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 633px) {
  .actionInfo {
    flex-direction: row;
  }
  .actions {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .info_logement {
    flex-direction: column;
  }
  .edit {
    order: 1;
  }
  .actifInactif {
    order: 2;
  }
  .titre_logement {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 580px) {
  .actionInfo {
    flex-direction: column;
  }
  .detaille_logement {
    align-items: center;
  }
  .titre_logement {
    text-align: center;
  }
  .actions {
    flex-direction: row;
  }
  #complement1,
  #complement2 {
    text-align: center;
  }
}
@media (max-width: 490px) {
  .titreLogement {
    flex-direction: column !important;
    gap: 0.938rem;
    align-items: flex-start !important;
  }
}
.alert {
  position: sticky;
  color: #ffffff;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  background-color: #5669ff;
  align-self: center;
  bottom: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  display: flex;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hover:hover {
  cursor: pointer;
  background: #9aa5ff !important;
}

.hover.blue:hover {
  background: #90d3fa !important;
}

.card_logement:hover {
  border: 1px solid #9aa5ff;
}

.card_logement {
  cursor: pointer;
}/*# sourceMappingURL=liste-logements.css.map */