@import url("setup.css");
// Variables
$myFont: "Plus Jakarta San", sans-serif;
$mainViolet: #5669ff;
$mainJeune: #ffd33c;
$mainNoir: #222222;
$mainGris: #878787;
$mainBlanc: #ffffff;

$hoverViolet: #9aa5ff;
$selectedViolet: #273efc;
$selectedBlanc: #e1ebf4;

$boutonPink: #dd69fa;
$boutonGreen: #79da7d;
$boutonRouge: #ff6258;

$h1Size: 4rem;
$h2Size: 2.25rem;
$h3Size: 2rem;
$h4Size: 1.5rem;
$h5Size: 1.25rem;
$h55Size: 1rem;
$h6Size: 0.75rem;

$lightWeight: 300;
$normalWeight: 400;
$semiboldWeight: 600;
$boldWeight: 700;
$lineHeight: 1.5;

.main {
  padding-top: 20%;
}
.main__container {
  width: 1280px;
  margin: 0 auto;
}

.dropbtn {
  cursor: pointer;
  text-align: left;
  width: 10rem;
  border-radius: 0.3125rem;
  border: 1px solid #222;
  padding: 0.5rem;
  color: rgba(34, 34, 34, 0.5);
  font-size: $h55Size;
  font-weight: $lightWeight;
  background-image: url("../img/down.webp");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.8rem auto;
}

.dropdown-content {
  display: none;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  border-radius: 0.75rem;
  border: 1px solid #909090;
  background: #fff;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.dropdown-element {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  gap: 0.6rem;
  align-items: center;
  line-height: normal;
}
label.dropdown-element.dep {
  background-image: url("../img/next.webp");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.8rem auto;
}
input.dropdown-element.search {
  background-image: url("../img/search.webp");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.8rem auto;
}
label.dropdown-element:hover {
  background-color: $selectedBlanc;
}
